html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-ceter{
  text-align: center;
}

.sectionPT{
  padding-top: 120px;
}

.sectionPB{
  padding-bottom: 120px;
}

.temp{
  font-weight: 300;
}

.col_center{
  margin: 0 auto;
  display: block
}

.loading{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}